@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Baloo Bhaijaan 2', cursive;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

html,
body {
  overflow-x: hidden;
}

:root {
  --primaryText: #e9edef;
  --secondaryText: #8696a0;
  --textColor: #d1d7db;
  --bgColor: #111b21;
  --bgUpperColor: #0b141a;
  --componentBgColor: #202c33;
  --svgColor: #aebac1;
  --greenTextColor: #00a884;
}